*{
  margin: 0;
  padding: 0;
}
.nav-item{
  padding: 1rem;
  margin: 1rem;
  font-size: 1.5rem;
  color: #3D5A6C;
}
.navbar-brand{
  margin: 1rem;
  font-size: 2rem;
}
.navbar{
  justify-content: space-around;
  background-color: rgb(14, 204, 218);
}
#saludo{
  font-size: 2rem;
}
.btn{
  margin: 1rem;
}
.contenedor{
  margin: 1rem;
  color: #3d5a6c;
}
a{
  text-decoration: none;
}
#imagenCarrito{
  width: 100%;
}
#carrito{
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  background-repeat: no-repeat;
}